$mainBg: #20272a;
$navBg: #1d2226;
$inputBg: #3c6862;
$btnBg: #184b43;

.todones-container {
  padding: 10px;

  .todones-item {
    padding: 5px 10px;
    background: $inputBg;
    margin: 10px 0;
    border-radius: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .todone-innerItem {
        display: flex;
        gap: 10px;
      }

    p {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
}

@media (max-width: 767px) {
  .todones-item {
    width: 100%;
  }
}

